= form_for FormWorkout.new, remote: true, format: :json, :html => { :class => 'ajax-form form-horizontal' } do |f|
  .errors
  .control-group
    = f.label :date, :class => 'control-label'
    .controls
      = f.date_field :date, :class => 'datepicker'
  .control-group
    = f.label :distance, :class => 'control-label'
    .controls
      = f.text_field :distance, :class => 'text_field'
  .control-group
    = f.label :time_period, :class => 'control-label'
    .controls
      = f.text_field :time_period, :class => 'text_field'
  .control-group
    = f.label :comment, :class => 'control-label'
    .controls
      = f.text_field :comment, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), workouts_path, :class => 'btn'
