= form_for @workout, :html => { :class => 'ajax-form form-horizontal' } do |f|
  - if @workout.errors.any?
    .errors.alert.alert-danger
      %ul
        - @workout.errors.full_messages.each do |e|
          %li= e
  .control-group
    = f.label :date, :class => 'control-label'
    .controls
      = f.text_field :date, :class => 'datepicker'
  .control-group
    = f.label :distance, :class => 'control-label'
    .controls
      = f.text_field :distance, :class => 'text_field'
  .control-group
    = f.label :duration, :class => 'control-label'
    .controls
      = f.text_field :duration_string, :class => 'text_field'
  .control-group
    = f.label :comment, :class => 'control-label'
    .controls
      = f.text_field :comment, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), workouts_path, :class => 'btn'
