%p#notice= notice

%p
  %b Date:
  = @workout.date
%p
  %b Distance:
  = @workout.distance
%p
  %b Duration:
  = @workout.duration
%p
  %b Comment:
  = @workout.comment

= link_to 'Edit', edit_workout_path(@workout)
\|
= link_to 'Back', workouts_path
